.login-container {
  width: 100%;
  display: flex;
  height: 600px;
  @media (max-width: 768px) {
    height: auto;
    margin-top: 20px;
  }
  .login-fullbox {
    background-color: white;
    width: 60%;
    height: 90%;
    margin: auto;
    display: flex;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @media (max-width: 768px) {
      display: block;
      width: 99%;
    }
    .image-container-box {
      width: 50%;
      overflow: hidden;
      border-radius: 40px 0 0 40px;
      @media (max-width: 768px) {
        width: 100%;
        height: 200px;
      }
      img {
        width: 100%;
      }
    }
    form,
    .other-element-box {
      box-sizing: border-box;
    }
    .other-element-box {
      width: 50%;
      padding: 40px;
      @media (max-width: 768px) {
        width: 100%;
        padding: 30px;
      }
      h1 {
        margin: 0;
        font-size: 40px;
      }
      form {
        width: 100%;
        margin: 40px auto;
        background-color: #ffffff;
        border-radius: 12px;
        font-family: "Fira Sans", sans-serif;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
          width: 100%;
        }
        label {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
          margin-top: 20px;
        }

        input {
          padding: 12px 15px;
          border: 1px solid #ccc;
          border-radius: 8px;
          font-size: 14px;
          font-family: "Fira Sans", sans-serif;
          transition: border 0.3s ease;
          &:focus {
            border-color: #006a4e;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 106, 78, 0.3);
          }
          &:disabled {
            border-color: #424c49;
            outline: none;
            background-color: rgb(176, 176, 176);
            box-shadow: 0 0 5px rgba(0, 106, 78, 0.3);
            cursor: not-allowed;
          }
        }
        a {
          margin: 10px 0;
          font-style: italic;
          font-size: 15px;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }

        button {
          padding: 12px;
          background-color: #006a4e;
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          font-family: "Fira Sans", sans-serif;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #006a4e;
          }
        }
      }
      .other-register-holder {
        margin-top: 10px;
        padding: 0 10px;
        a {
          display: block;
          font-style: italic;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
